{% extends "base.html" %} 
{% block title %} Home Page {% endblock %}
{% block content %}


<div class="container">
    <h1 class="display-4">Cognito Users</h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Add/Edit/Delete Cognito Users</a>
      <a href="#" class="list-group-item list-group-item-action">Add/Edit/Delete Client Projects</a>
      <a href="#" class="list-group-item list-group-item-action">Approve Expenses</a>
      <a href="#" class="list-group-item list-group-item-action">Approve Holidaysc</a>
    </div>

  <ul>
    {% for cognito_user in cognito_users %}
        <li>{{cognito_user}}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
