{% extends "base.html" %} 
{% block title %} Home Page {% endblock %}
{% block content %}


<div class="container">
    <a href="{% url 'tk_users:admin_user' %}">Back</a>
    <h1 class="display-4">System Users</h1>
    <hr>
    
  
    <div id="COGNITO-data" class="card-deck row">

    {% for cognito_user in cognito_users %}

        <div class="col-lg-3 col-md-6 col-xs-12 margin-top-1">
          <a href="">
            <div class="card h-100">
              <img class="card-img-top" src="" class="img-fluid center-block img-thumbnail" style="max-height:150px;" alt="" />
              <div class="card-body">
                <h4 class="card-title">{{cognito_user.email}}</h4>
                <p class="card-text">{{cognito_user.username}}</p>
              </div>
            </div>
          </a>
        </div>  
    {% endfor %}

   </div>
  
  
</div>

{% endblock %}
