{% extends "base.html" %} 
{% load static %}
{% block title %} Home Page {% endblock %}

{% block content %}

    <div class="container">
    <div>
      <h1 class="display-4">{{heading}}</h1>
    </div>
    <a href="{% url 'tk_users:general_user' %}">Go Back</a>
    <hr>
    <div id="COGNITO-data" class="card-deck row">
        <form method="POST" action="{% url 'tk_users:general_user_upload_expenses' %}" enctype="multipart/form-data" action>
          {% csrf_token %}
          <input type="file" name="myfile">
          <button id="uploadbutton" type="submit">Upload</button>
        </form>
      
        {% if uploaded_file_url %}
          <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

    </div>

{% endblock %}
