{% extends "base.html" %} 
{% block title %} Home Page {% endblock %}
{% block content %}


<div class="container">
    <div>
      <h1 class="display-4">{{heading}}</h1>
    </div>
    <a href="{% url 'tk_users:admin_user' %}">Go Back</a> | <a href="{% url 'tk_users:admin_cognito_user_add' %}">Create User</a>
    <hr>
    <div id="COGNITO-data" class="card-deck row">

    {% for cognito_user in cognito_users %}

        <div class="col-lg-3 col-md-6 col-xs-12 margin-top-1">
          <a href="">
            <div class="card h-100">
              <div class="card-header">
                <i class="fa fa-user-circle fa-5x fa-align-center" aria-hidden="true"></i>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{cognito_user.email}}</h4>
                <ul>
                  <li><span class="card_attr">USERNAME: </span>{{cognito_user.username}}</li>
                  <li><span class="card_attr">STATUS: </span>{{cognito_user.userstatus}}</li>
                  <li><span class="card_attr">ID: </span>{{cognito_user.user_id}}</li>
                </ul>
              </div>
            </div>
          </a>
        </div>  
    {% endfor %}

   </div>
  
  
</div>

{% endblock %}
